/*

!/.gitignore
!/CMakeLists.txt

!/Analyse
!/GIF
!/Example
!/Shaders
!/Textures

!/deps

/deps/soil/*
!/deps/soil/src
!/deps/soil/CMakeLists.txt

/deps/glm/*
!/deps/glm/glm
!/deps/glm/cmake
!/deps/glm/CMakeLists.txt

/deps/glew/*
!/deps/glew/include
!/deps/glew/src


!/deps/glfw
