/*

!/.gitignore
!/.gitattributes
!/README.md
!/LICENCE.txt
!/CMakeLists.txt
!/Rapport.tex
!/Rapport.pdf

!/cmake

!/Analyse
!/GIF
!/Example
!/Shaders
!/Textures

!/deps

/deps/soil/*
!/deps/soil/src
!/deps/soil/CMakeLists.txt

/deps/glm/*
!/deps/glm/glm
!/deps/glm/cmake
!/deps/glm/CMakeLists.txt

/deps/glew/*
!/deps/glew/include
!/deps/glew/src


/deps/glfw/*
/deps/glfw/src
/deps/glfw/include
/deps/glfw/CMakeLists.txt
